<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.code.blog.mapper.ArticleMapper">

    <resultMap id="BaseResultMap" type="com.code.blog.entity.Article">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="sortId" column="sort_id" jdbcType="VARCHAR"
                    typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler"/>
            <result property="labelId" column="label_id" jdbcType="VARCHAR"
                    typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler"/>
            <result property="articleCover" column="article_cover" jdbcType="VARCHAR"/>
            <result property="articleTitle" column="article_title" jdbcType="VARCHAR"/>
            <result property="articleContent" column="article_content" jdbcType="VARCHAR"/>
            <result property="viewCount" column="view_count" jdbcType="INTEGER"/>
            <result property="likeCount" column="like_count" jdbcType="INTEGER"/>
            <result property="viewStatus" column="view_status" jdbcType="TINYINT"/>
            <result property="password" column="password" jdbcType="VARCHAR"/>
            <result property="recommendStatus" column="recommend_status" jdbcType="TINYINT"/>
            <result property="commentStatus" column="comment_status" jdbcType="TINYINT"/>
            <result property="gmtCreate" column="gmt_create" jdbcType="TIMESTAMP"/>
            <result property="gmtModified" column="gmt_modified" jdbcType="TIMESTAMP"/>
            <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
            <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
            <result property="isDeleted" column="is_deleted" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,sort_id,
        label_id,article_cover,article_title,
        article_content,view_count,like_count,
        view_status,password,recommend_status,
        comment_status,gmt_create,gmt_modified,create_by
        update_by,is_deleted
    </sql>
</mapper>
