<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.code.blog.mapper.UserRoleMapper">

    <resultMap id="BaseResultMap" type="com.code.blog.entity.UserRole">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="roleId" column="role_id" jdbcType="BIGINT"/>
            <result property="gmtCreate" column="gmt_create" jdbcType="TIMESTAMP"/>
            <result property="gmtModified" column="gmt_modified" jdbcType="TIMESTAMP"/>
            <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
            <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
            <result property="isDeleted" column="is_deleted" jdbcType="TINYINT"/>
            <result property="deletedId" column="deleted_id" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,role_id,
        gmt_create,gmt_modified,create_by,
        update_by,is_deleted,deleted_id
    </sql>

    <select id="selectRoleNamesByUserId" resultType="java.lang.String">
        SELECT DISTINCT
            role_name
        FROM
            role
        WHERE
                id IN (
                SELECT
                    role_id
                FROM
                    user_role
                WHERE
                    user_id = #{id});
    </select>
</mapper>
